doctype html
html
  head
    title Danceify
    block style 
  body
    block content
    footer#footer
        | Copyright &copy; Danceify 
        pre   |  
        |All Right Reserved
    script
        include  ../static/index.js